# Store images and videos attached to tasks and docs in Git LFS.
# Image formats
tasks/**/*.[aA][pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[aA][vV][iI][fF] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[bB][mM][pP] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[gG][iI][fF] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[hH][eE][iI][cC] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[hH][eE][iI][fF] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[iI][cC][oO] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[jJ][xX][lL] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[sS][vV][gG] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[tT][iI][fF] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[tT][iI][fF][fF] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[wW][eE][bB][pP] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[aA][pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[aA][vV][iI][fF] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[bB][mM][pP] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[gG][iI][fF] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[hH][eE][iI][cC] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[hH][eE][iI][fF] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[iI][cC][oO] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[jJ][xX][lL] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[sS][vV][gG] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[tT][iI][fF] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[tT][iI][fF][fF] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[wW][eE][bB][pP] filter=lfs diff=lfs merge=lfs -text

# Video formats
tasks/**/*.[3][gG][2] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[3][gG][pP] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[aA][sS][fF] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[aA][vV][iI] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[fF][lL][vV] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[mM][2][tT][sS] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[mM][4][vV] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[mM][kK][vV] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[mM][oO][vV] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[mM][pP][4] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[mM][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[mM][pP][gG] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[mM][tT][sS] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[mM][xX][fF] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[oO][gG][vV] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[vV][oO][bB] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[wW][eE][bB][mM] filter=lfs diff=lfs merge=lfs -text
tasks/**/*.[wW][mM][vV] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[3][gG][2] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[3][gG][pP] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[aA][sS][fF] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[aA][vV][iI] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[fF][lL][vV] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[mM][2][tT][sS] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[mM][4][vV] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[mM][kK][vV] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[mM][oO][vV] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[mM][pP][4] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[mM][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[mM][pP][gG] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[mM][tT][sS] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[mM][xX][fF] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[oO][gG][vV] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[vV][oO][bB] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[wW][eE][bB][mM] filter=lfs diff=lfs merge=lfs -text
docs/**/*.[wW][mM][vV] filter=lfs diff=lfs merge=lfs -text
