@import '@omnidraw/theme/default.css';

:root {
  color-scheme: light;
  --omnidraw-font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --omnidraw-font-display: var(--omnidraw-font-mono);
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  line-height: inherit;
  font-family: var(--omnidraw-font-mono);
  background-color: var(--omnidraw-background);
  color: var(--omnidraw-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border-color: var(--omnidraw-border);
  touch-action: none;
  overscroll-behavior: none;
}

button,
input,
textarea,
select {
  margin: 0;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  -webkit-appearance: button;
  padding: 0;
  border: 0 solid transparent;
  background-color: transparent;
  background-image: none;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

input,
textarea,
select {
  border: 0 solid transparent;
  border-radius: 0;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
  appearance: none;
  -webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
pre {
  margin: 0;
}

ol,
ul,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset,
legend {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg,
iframe {
  display: block;
  vertical-align: middle;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none !important;
}
